/* src/components/SongsSection/SongsSection.module.css */

.wrapper {
  margin-top: 32px;
  padding: 0 32px;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.loading {
  color: white;
}

.tabs {
  min-height: 32px;
  margin-bottom: 16px;
}

.tab {
  min-height: 32px !important;
  text-transform: none !important;
  color: white !important;
  font-size: 14px;
}

.tab.Mui-selected {
  color: #34c94b !important;
  font-weight: 600;
}

.carouselWrapper {
  margin-top: 8px;
}
