.tabs {
  color: #fff !important;
}

.tab {
  color: #aaa !important; /* inactive */
  font-weight: 500;
  text-transform: none !important;
}

.tab.Mui-selected {
  color: #fff !important; /* active tab text */
}

.MuiTabs-indicator {
  background-color: #34c94b !important; /* green underline */
}
