.section {
  margin-top: 40px;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.collapseBtn {
  background: transparent;
  color: #34c94b;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
