.section {
  margin: 20px 0;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 22px;
}

.toggle {
  background: none;
  color: #1ed760;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
