.card {
  width: 160px;
  height: 230px;
  background: #1a1a1a;
  border-radius: 8px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.bottom {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.title {
  color: white;
  font-size: 14px;
  margin-top: 5px;
}

.chip {
  background: white !important;
}
