.section {
  padding: 24px 32px 0;
  background-color: #121212;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.toggleBtn {
  background: none;
  border: none;
  color: #34c94b;
  font-size: 14px;
  cursor: pointer;
}

.grid {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
